.navbar{
    width: 100%;
    list-style-type: none;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-align: center;
}

.list-menu{
    display: inline-block;
}

.list{
    text-decoration: none;
    margin-left: 72px;
    color: #FF0000;

}
.img{
    background-image: url("img/image 1.png");
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
}
.heading{
    font-family: Montserrat;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: center;
    text-transform: uppercase;
}
.content{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.button{
    border: none;
    margin-top: 50px;
    position: relative;
    width: 191px;
    height: 51px;
    left: 544.5px;
    background: #FF0000;
    border-radius: 4px;
    text-transform: uppercase;
    color: #ffffff;
}
.footer{
    margin: 70px 105px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: end;
}
body{
    width: 1280px;
    margin: 0 auto;
}
